body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: black;
}
header {
  color: white;
  text-align: center;
  background-color: orange;
  font-size: 1.5rem;
  padding: 0.1rem;
}
span:hover {
  color: red;
}
.main_div {
  width: 25rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  background-color: orange;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
}
.main_div:hover {
  box-shadow: 0.5rem 0.5rem 3rem orange;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#disp_val {
  font-size: 7rem;
  margin: 1rem 1rem;
  font-weight: 100;
}

button {
  padding: 0.3rem 1.5rem;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
}
button:hover {
  border: 0.1rem solid;
  color: red;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .main_div {
    width: 20rem;
    height: 15rem;
    overflow: hidden;
  }
}
@media (max-width: 375px) {
  .main_div {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
  }
  header {
    color: white;
    text-align: center;
    background-color: orange;
    font-size: 1rem;
    padding: 0.1rem;
  }
}
